/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 16px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 400;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}


/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 100px;
  position: absolute;
}

.fixdiv {
  position: relative;
}



/* FEATURES */

#features {
  padding: 200px 6% 200px 6%;
  background-color: white;
  position: relative;
  z-index: 10;
}



.featurepic {
  color: #ff4c68;
  font-size: 4.5rem;
  text-align: center;
  display: block;
  padding-bottom: 20px;
}

.featurerow {
  padding: 0 3% 0 3%;
}

.feature-head {
  text-align: center;
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: 900;

}

.feature-p {
  text-align: center;
  font-family: "Montserrat";
  font-size: 1.2rem;
}

/* Testimonials */

.testimonial-title {
  font-family: "Montserrat";
  font-size: 3rem;
  text-align: center;
  color: white;
}

.testrow {
  padding: 40px 5% 40px 5%;
}

.testpic {
  align: center;
  margin: auto;
  display: block;
  padding-bottom: 20px;
  max-width: 80%;
  height: auto;
}

.test-head {
  color: white;
}

.test-p {
  color: white;
}

/* Press Section */

#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}


.presspic {
  width: 10%;
  margin: 20px 20px 50px;
}


h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

body {
  font-family: "Montserrat";

}

.container-fluid {
  padding: 3% 15% 160px 15%;
}




#title {
  background-color: #ff4c68;
}

#testimonials {
  background-color: #ff4c68;
  font-family: "Montserrat";
}


/* PRTICING */

#pricing {
  padding: 100px;
  font-family: "Montserrat";
}

.pricing-column {
  padding: 3% 3%;
}

.pricetitle {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin: auto;
  padding-bottom: 15px;
}

.pricetitle2 {
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
}

.pricehead {
  font-size: 1.2rem;
  font-weight: 900;
}

.priceh2 {
  font-weight: 900;
}



/* CAll to Action */

#cta {
  background-color:#ff4c68;
  text-align: center;
}

.ctatext {
  color: white;
  font-family: "Montserrat"

}


/* Footer */

#footer {
  background-color:#ff4c68;
  text-align: center;
}

.footertext {
  color: white;
  margin-bottom: 0;
}

.bottom-button {
  margin: 2% 3% 2% 0;
}
